<navigationBar></navigationBar>
<div class="container">
    <div class="leftcol" id="content" #content>
        <table style="width:100%">
            <tr>
                <th>Product Name</th>
                <th>Total Qty</th>
                <th>Price/product</th>
                <th>Refilled Date</th>
            </tr>
            <tr *ngFor="let value of tableValue |  paginate: {itemsPerPage:15, currentPage: p}">
                <td>{{value.productName}}</td>
                <td>{{value.qty}}</td>
                <td>{{value.price}}</td>
                <td>{{value.refilledDate}}</td>
            </tr>
        </table>
        <br>
        <button (click)="export2PDF()">Export to PDF</button>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> 