<navigationBar></navigationBar>
<div class="container">
    <div class="leftcol">
        <ul class="nav nav-tabs" style="border-bottom: 1px solid #243c66;padding: 0 0 1px 0;">
            <li role="presentation" class="active">
                <a href="#">Menu's</a>
            </li>
            <!-- <li role="presentation">
                <a>Information</a>
            </li> -->
            <!--	  <li role="presentation"><a href="#">Messages</a></li>-->
        </ul>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <aside id="sidebar">
                    <ul id="sidemenu" class="sidebar-nav">
                        <li>
                            <a routerLink="/IntakeForm">
                                <span class="sidebar-icon">
                                    <i class="fa fa-dashboard"></i>
                                </span>
                                <span class="sidebar-title">Product Intake</span>
                            </a>
                        </li>
                        <li>
                            <a href="/IntakeForm">
                                <!-- <span class="sidebar-icon">
                                    <i class="fa fa-dashboard"></i>
                                </span> -->
                                <span class="sidebar-title">Billing form</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-icon">
                                    <i class="fa fa-dashboard"></i>
                                </span>
                                <span class="sidebar-title">Reports</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- <span class="sidebar-icon"> </span> -->
                                    <i class="fa fa-dashboard"></i>
                                <span class="sidebar-title">Meeting Schedule</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-icon">
                                    <i class="fa fa-dashboard"></i>
                                </span>
                                <span class="sidebar-title">Quotation</span>
                            </a>
                        </li>
                    
                    </ul>
                </aside>
            </div>
            <main id="page-content-wrapper" role="main">
                <div class="row">
                    <div class="col-sm-12">
                        <sildder></sildder>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>