 
       
       
 <!-- <div class="header clearfix" style="border-bottom: 1px solid rgb(163, 163, 163)">
         <div class="userContainer">
          <span class="username  text-white ">Welcome</span>
        
             <span class=" float-right">
           
                     <a class="logout" [routerLink]=""> Support </a> 
                   <a class="logout" [routerLink]="['/profile']"> My Account </a> 
                   <a class=" logout" href="javascript:void(0);">Sign Out</a>
          </span>
       </div>
 </div>
    <!--Having a container in the default layout causes pages that shouldn't be in a container to have to break out with -->
    <!--<div class="container">-->
      <div class="row">
        <main class="col-sm-12">
          
        <router-outlet></router-outlet>
          
          
        </main>
      </div>
    <!--</div>-->
  
    

